[{
     diversity, [
        {diversity_api_url, <<"http://api.diversity.io">>},
        {twapi_url, <<"http://shop.textalk.se/backend/jsonrpc/v1">>},
        {port, 8080},
        {debug, true},
        {debug_url, <<"http://demobutik.com.raoulstage.textalk.se/">>},
        {staging, true},
        {staging_regexp, <<".\\w*stage.*">>}
     ]
}].
